*{
    scroll-behavior: smooth; 
    box-sizing: border-box;
}

body{   
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #ddeaff;
    color: #101632dd; 

/* -------- TALLA PARA EL HOLYGRIAL ------- */
/*  flex-direction: column; 
    align-items: center;
    min-height: 100vh;     
    display:flex;*/     
}

#app, body, div, ul, nav, header, footer, a, li, ul, label, p, h2, h1, form{
    margin:0;
    padding:0;
} 
#app{
    background-image: url("./src/assets/IMAGES/Alice In Chains - Black Gives Way To Black.jpg");
}