.classes__category__box{
    border-radius: 8px;
    background-color: #10233f; 
    color: rgb(127,255,212);
    text-align: center;
    display: grid;
    gap: 15px;
    min-height: 300px;
}

.classes__category__content{
    text-wrap: balance;
}

.classes__category-button{
    position:relative;


    width: 40%;
    padding: 10px 40px;
    color: #fff;
    background-color:transparent;   
    letter-spacing: 3px; 
    margin :auto;
    margin-bottom: 20px;
    z-index: 0;
    

    border: 1px solid #44e; 
    border-radius: 6px;  
    overflow: hidden;
}

.classes__category-button::before{
    content: '';
    background-color:  #d15959;
    display: block;
    height: 300%;
    width: 140%;
    position:absolute;
    z-index: -1;
    margin-top: 30%;
    transition: top .6s, left .6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.classes__category-button:hover::before{
    top:-35%;
    left: -20%;
    margin-top: -10%;
}
